



*{
    font-family: 'Roboto', 'sans-serif';
}


/* logo ico */


.ico-logo{
    color: #2195f3c2;
    margin: auto;
    padding-left: 22px;
    font-size: 4rem;
}





/* navbar */


.navBar{
    width: 100%;
}

#nav{
    border: 0.5x solid #000;
    background-color: #0e0e0e;
    color: #ddd;
}



/* nav hover */

#nav-ul > li:hover{

    background-color: #2195f354;

}




#container-presentacion{
    background-image: url('resources/intro.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 86vh;
}


#container-presentacion > div > h1{
    font-weight: 900;
    color: #e9edf0;
}


#container-presentacion > div{
    padding: 30px;
    background-color: #0006;
    width: 72%;
    margin: auto;
}

#container-presentacion > div > p{
    font-weight: 600;
    width: 65%;
    margin: auto;
    color: rgb(208, 208, 208);
}


#button-pres{
    margin-top: 50px;
}



/* menu mobile */


#mobile-demo{
    opacity: .83;
}

#mobile-demo > li > a{
    color: #2195f3f0;
    font-weight: 700;
}


/* seccion suscripcion */
.section-suscripcion{
    width: 100%;
    background-color: #0e0e0e;
    color: #2195f354;
    padding-top: 28px;
    border: 1px solid #000;
}


 /* label focus color */
.input-field input[type=text]:focus{
    color: #2195f393 !important;
}

/* label underline focus color */
.input-field input[type=text]:focus {
    border-bottom: 1px solid #ddd;
    box-shadow: 0 1px 0 0 #ddd;
}



/* button suscribirse */

.btn-suscribirse{
    line-height: 4;
}

/* servicios */

.card-image img{
    height: 250px;
}


/* footer */
